doctype html
head
  meta charset="UTF-8"
  title jQuery offline wrapper
  script src="jquery-offline.js"
  // script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
  script src="jquery-fake-plugin.js"
  javascript:
    var tmp = 'hello';
    jQuery(document).ready(function($) {
      console.log('dom loaded');
      console.log(tmp);
      console.log(this);
      // $.fn.fakePlugin()
    });
body
  h1 jQuery offline wrapper
  p#test-ground Test ground paragraph
  javascript:
    $(document).ready(function() {
      $('#test-ground').text($('#test-ground').text() + ' works')
    });
    $('#test-ground').css('color', '#F00').css('background-color', '#FF0')
  javascript:
    /*document.write('<script src="jquery-1.7.2.min.js"><\/script>');*/
    console.log('>> Fake? ', jQuery.isFake);
    console.log('>> ', jQuery.fake.queue());
  javascript:
    console.log('>> Fake? ', jQuery.isFake);
    // console.log('>> ', jQuery.fake.queue());
    findFuncs = function(obj) {
      var funcs = {}, found = 0;
      for(var i in obj) {
        if (typeof obj[i] == "function") {
          found++;
          // funcs[i] = findFuncs(obj[i]);
          var innerFuncs = findFuncs(obj[i]);
          if (innerFuncs.____length == 0)
            funcs[i] = '';
          else
            funcs[i] = innerFuncs;
        }
      }
      funcs.____length = found;
      return funcs;
    };
    // console.log(findFuncs(jQuery));

